@charset "utf-8";

*,  *::before, *::after {
    box-sizing: border-box;
}

html, body, main, div, span, h1, h2, h3, p, ol, ul, li {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #53AC9C;
    --sub-color: #C4EAE3;
    --black: #1A1A1A;
    --gray: #696969;
    --light-gray: #E5E5E5;
    --white: #FFFFFF;
    --red: #F46363;
}

/* ヘッダー */
header {
    position: fixed;
    display: flex;
    background-color: var(--white);
    width: 100%;
    height: 20%;
    max-width: 100%;
    border-bottom: 1.5px solid var(--gray);
}

header h2 {
    font-size: 32px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 30%;
    border-bottom: 4px solid var(--gray);
}

/* ボタン系 */
#insert-button {
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

#update-button {
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

#delete-button {
    background-color: var(--red);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

#accountdel-button {
    background-color: var(--red);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
    line-height: 0.9;
}

#edit-button {
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

#search-button {
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

#choose-button {
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    width: 194px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

#login-button {
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

/* フォーム */
input {
    width: 410px;
    height: 54px;
    border-radius: 10px;
    font-size: 24px;
}

/* コメント欄 */
#comment-input {
    width: 697px;
    height: 53px;
    font-size: 24px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    /* text-align: start; */
}

#comment-section {
    width: 757px;
    padding: 20px;
    background-color: var(--white);
    border: 1px solid var(--gray);
}

.section-title {
    width: 757px;
    height: 63.51px;
    background-color: var(--light-gray);
    border: 1px solid var(--gray);
}

.section-title h2 {
    text-align: center;
}

.comment-erea {
    width: 757px;
    height: 622.71px;
    border: 1px solid var(--gray);
}