@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, main, div, span, h1, h2, h3, p, ol, ul, li {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #53AC9C;
    --sub-color: #C4EAE3;
    --black: #1A1A1A;
    --gray: #696969;
    --light-gray: #E5E5E5;
    --white: #FFFFFF;
    --red: #F46363;
    --yellow: #FFDE5B;
}

/* header {
    background-color: var(--main-color);
} */
*,  *::before, *::after {
    box-sizing: border-box;
}

html, body, main, div, span, h1, h2, h3, p, ol, ul, li {
    margin: 0;
    padding: 0;
}
/* ---kowada--- */
.input-with-label{
    width: 15rem;
    height: 1.8rem;
}
.select{
    width: 15rem;
    height: 1.8rem;
}
.checkbox{
    height: 1.5;
}
.button{
    font-size: 1rem;
    width: 6rem;
    height: 3rem;
    color: var(--white);
    background-color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 10px;
}
.subject-list{
    overflow-y: auto;
}
.subject-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 4rem;
    font-size: 1.2rem;
    border: solid 1px var(--black);
    background-color: var(--white);
}
.subject-list #subject-search{
    width: 9rem;
    height: 4rem;
    font-size: 1rem;
}
#subject-side-menu{
    position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  transition: right 0.3s ease;
  z-index: 1001;
}
#subject-side-menu.active {
    right: -80px;
  }
#subject-side-button {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 50;
  font-size: 60px;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 30px;
  z-index: 1000;
}
#subject-side-button:hover{
    color: var(--gray);
}
#subject-return:hover{
    background-color: var(--sub-color);
}
.large-textarea label{
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
    line-height: 1.2;
}
.large-textarea{
    width: 20rem;
    height: 7rem;
}
/* フォーム */
.input-with-label,
.select-with-label {
    width: 410px;
    height: 54px;
    border-radius: 10px;
    font-size: 24px;
}
/* ---password_change--- */
#pw-change-content{
    text-align: center;
}
#pw-change-h1{
    padding: 50px;
}
.pw-change-form{
    margin: 20px;
}
#pw-change-button{
    padding-left: 180px;
}
/* ---kowada--- */
/* ---kudou--- */

#side-bar {
    height: 100%;
    width: 250px;
    background-color: var(--main-color);
    color: var(--white);
    text-align: center;

    position: fixed;
    top: 0;
}

#side-bar a {
    text-decoration: none;
    color: var(--black);
}

#side-bar a:hover {
    text-decoration: underline;
    font-weight: bold;
}

#side-bar .text-red {
    color: var(--red);
}

#app-name {
    font-size: 32px;
    margin: 20px 0 80px;
}

#user-section {
    position: absolute;
    width: 100%;
    bottom: 50px;
}

#user-icon {
    background-color: var(--white);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
}

#user-menu {
    display: none;
    background-color: var(--white);
    border-radius: 10px;
    width: 60%;
    position: absolute;
    left: 50%;
    bottom: 120%;
    transform: translateX(-50%);
}

#user-menu li {
    list-style: none;
    margin: 15px 0;
}

.side-bar-item {
    position: relative;
    cursor: pointer;
    margin: 40px 0;
    list-style: none;
}

#side-bar .side-bar-item a {
    color: var(--white);
}

.sub-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: -20px;
    width: 200px;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-left: none;
    list-style-type: none;
}

.sub-menu li {
    margin: 20px 40px;
}

.side-bar-item:hover > .sub-menu,
.side-bar-item:focus-within > .sub-menu {
    display: block;
}

.side-bar-item:hover {
    text-decoration: underline;
    font-weight: bold;
}

#side-bar .side-bar-item .sub-menu a {
    color: var(--black);
    text-decoration: none;
    font-weight: normal;
}

#side-bar .side-bar-item .sub-menu a:hover {
    text-decoration: underline;
    font-weight: bold;
}

#page-content {
    margin-left: 250px;
}

#student-top-container,
#teacher-top-container,
#admin-top-container,
#students-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 80%;
}

#student-top-container div,
#teacher-top-container div,
#admin-top-container div,
#students-list-container div {
    width: 100%;
}

.table {
    border-collapse: collapse;
    /* width: 80%; */
}

.subject-table,
.favorite-table,
.students-list-table {
    width: 100%;
}

.th-horizontal,
.th-vertical {
    border: 1px solid var(--gray);
    text-align: center;
    background-color: var(--light-gray);
}

.th-horizontal {
    height: 2rem;
}

.th-vertical {
    width: 15%;
}

.subject-td {
    height: 100px;
    border: 1px solid var(--gray);
    text-align: center;
}

.favorite-page-section {
    margin-top: 50px;
    width: 100%;
}

.favorite-td-star,
.favorite-td-name,
.favorite-td-category {
    border: 1px solid var(--gray);
    text-align: center;
}

.favorite-td-star {
    width: 10%;
}

.favorite-td-category {
    width: 20%;
}

.material-symbols-outlined {
    text-decoration: none;
}

.favorite-star-icon {
    font-variation-settings: 'FILL' 1; /* 0:線のみ 1:中塗りつぶし */
    color: var(--yellow);
    font-size: 2rem;
}

.search-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.text-gray {
    color: var(--gray);
}

.text-red {
    color: var(--red);
}

.students-list-table {
    margin-top: 20px;
}

.students-list-table td {
    text-align: center;
    border: 1px solid var(--gray);
}

.students-list-table img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.students-list-table .material-symbols-outlined {
    font-size: 30px;
}


/* ---kudou--- */

/* ----shibaya --- */
/* ヘッダー */
#page-tab {
    position: fixed;
    display: flex;
    background-color: var(--white);
    width: 100%;
    height: 20%;
    max-width: 100%;
    border-bottom: 1.5px solid var(--gray);
}

#page-tab h2 {
    font-size: 32px;
    padding: 20px;
    margin-top: 60px;
    margin-left: 30%;
}

#page-tab h2:hover {
    background-color: var(--light-gray);
}

#page-tab h2.active {
    border-bottom: 4px solid var(--gray);
}

/* ボタン系 */

.main-button {
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

.red-button{
    background-color: var(--red);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

#login-button {
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

/* コメント欄 */
#comment-input {
    width: 697px;
    height: 53px;
    font-size: 24px;
    border: none;
    position: relative;
    display: inline-block;
    /* text-align: start; */
}

#submit-button {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
}

.send-button {
    font-size: 50px;
    cursor: default;
    color: var(--light-gray);
    background: none;
    border: none;
}

.send-button.active {
    color: var(--main-color);
    cursor: pointer;
}

.send-button.active:hover {
    color: var(--sub-color);
}

.section-title {
    width: 757px;
    height: 63.51px;
    background-color: var(--light-gray);
    border: 1px solid var(--gray);
}

.section-title h2 {
    text-align: center;
    margin-top: 10px;
}

.comment-container {
    display: flex;
    margin-top: 72%;
    width: 700px;
    height: 60px;
    margin-left: 30px;
    padding: 3px 0px 0px 5px;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.comments {
    width: 757px;
    height: 622.71px;
    border: 1px solid var(--gray);
}

/* コメント */
.comment-box {
    /* margin-left: 30%; */
    width: 713px;
    height: 86.61px;
    padding: 10px;
    text-align: left;
  }
  
.comment {
    display: flex;
    font-size: 24px;
    padding: 10px 0;
    flex-direction: column;
}

.comment-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
  
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
  
.name-date {
    display: flex;
}

.username {
    font-size: 32px;
    margin-right: 15px;
}
  
.date {
    font-size: 20px;
    margin-top: 13px;
    color: var(--gray);
}

.text {
    margin-top: 10px;
}

/* コメントの削除 */
.comment-delete {
    background: none;
    border: none;
    font-size: 15px;
    color: var(--gray);
    cursor: pointer;
    margin-left: 100%;
}

.delete-menu {
    display: none;
    position: absolute;
    background: var(--white);
    border: 1px solid var(--light-gray);
    padding: 5px 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}

.delete-option {
    background: none;
    border: none;
    color: var(--red);
    font-size: 16px;
    cursor: pointer;
    margin-left: 100%;
}

.delete-option:hover {
    color: var(--light-gray);
}

/*---- shibaya ----*/