@charset "utf-8";

/* ヘッダー */
#page-tab {
    position: fixed;
    display: flex;
    background-color: var(--white);
    width: 100%;
    height: 20%;
    max-width: 100%;
    border-bottom: 1.5px solid var(--gray);
}

#page-tab h2 {
    font-size: 32px;
    padding: 20px;
    margin-top: 60px;
    margin-left: 30%;
}

#page-tab h2:hover {
    background-color: var(--light-gray);
}

#page-tab h2.active {
    border-bottom: 4px solid var(--gray);
}

/* ボタン系 */

.main-button{
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

.red-button{
    background-color: var(--red);
    color: var(--white);
    border: none;
    width: 153px;
    height: 57px;
    font-size: 24px;
    border-radius: 10px;
}

#delete-button {
    background-color: var(--red);
}

#accountdel-button {
    background-color: var(--red);
    line-height: 0.9;
}

#choose-button {
    width: 194px;
    height: 57px;
}

/* フォーム */
input {
    width: 410px;
    height: 54px;
    border-radius: 10px;
    font-size: 24px;
}

/* 概要テーブル */
.page-info {
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
    justify-content: center;
    margin-left: 17%;
}

.page-info table{
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

.page-info p{
    font-size: 48px;
}

.subject-page {
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
    justify-content: center;
    margin-left: 17%;
}

.subject-info {
    margin-bottom: 7%;
}

.overview-table {
    border-collapse: collapse;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

.overview-table td a {
    color: black;
    text-decoration: none;
}

.overview-table td a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

th, td {
    border: 1px solid var(--gray);
    height: 36.01px;
}

th {
    background-color: var(--light-gray);
    width: 222px;
}

td {
    background-color: var(--white);
    width: 535px;
}

.section-title {
    width: 757px;
    height: 63.51px;
    background-color: var(--light-gray);
    border: 1px solid var(--gray);
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-title h2 {
    font-size: 24px;
    margin: 0;
}

/* コメント欄 */
.comments {
    width: 757px;
    /* height: 686px; */
    /* margin-left: 17%; */
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.comment-box {
    background-color: var(--white);
    border: 1px solid var(--gray);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.comment-section {
    border: 1px solid var(--gray);
    width: 757px;
    height: 622.71px;
}